.weather {
  background-color: hsla(232, 62%, 16%, 1);
  width: 100%;
  height: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.dateNtime {
  background-color: hsla(311, 100%, 64%, 1);
  color: white;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.weather-info {
  width: 100%;
  height: 80%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.currentWeather {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.currentTemp {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.currentWind {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}
.seperator {
  height: 50%;
  width: 1px;
  background-color: white;
}
.currentTemp h1 {
  margin: 0;
}
.subwindows {
  font-size: 10px;
  display: flex;
  justify-items: flex-start;
  gap: 10px;
}
